h1{
    background-color: gray;
    color: #fff;
    padding: 20px;
}

h2{
    border: 4px solid;
    border-color: red;
    color: red;
    margin-left: 20px;
    width: 20em;
}

p{
    margin-left: 36px;
}